<template>
  <v-app>
    <alert/>
    <Dialog/>
    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.photo_profile ? apiDomain+user.photo_profile : 'https://randomuser.me/api/portraits/men/78.jpg'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              {{ user.name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="success" class="mb-1" @click="register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>
        <v-divider></v-divider>

        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu-${index}`"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        
        </v-list-item>


      </v-list>
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-app-bar app color="success" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Biodata Apps</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer app style="text-align:center">
      <span >@2022</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Alert from './components/AlertItemComponent.vue'
import Dialog from './components/Dialog.vue'

export default {
  name: 'App',
  components: { Alert, Dialog },

  data: () => ({
    drawer: false,
    menus : [
      { title: 'Home', icon: 'mdi-home', route:'/' },
      { title: 'Biodata', icon: 'mdi-account-group', route:'/biodata'},
    ],
    apiDomain : 'http://localhost:8000',
    
    snackbarStatus : true,
    snackbarText : 'Anda berhasil login'
  }),
  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user: 'auth/user',
      token: 'auth/token'
    }),
  },

  methods: {
    login(){
        this.setDialogComponent({'component' : 'login'})
    },
    register(){
        this.setDialogComponent({'component' : 'register'})
    },

    logout() {
      let config = {
        method: 'post',
        url: this.apiDomain + '/api/auth/logout',
        headers: {
          'Authorization' : 'Bearer ' + this.token,
        },
      }

      console.log(config)

      this.axios(config)
        .then(() => {
          this.setToken('')
          this.setUser('')
          this.setAlert({
            status : true,
            color: 'success',
            text : 'Anda berhasil logout',
          })
        })
        .catch((response) => {
          console.log(response)
        })

    },
    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken'
    }),
  },
  mounted() {
    if(this.token) {
      this.checkToken(this.token)
    }
  }

};
</script>
