<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                    v-model="name"
                    label="Name"
                    required
                    append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                    v-model="email"
                    label="E-Mail"
                    required
                    append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                    v-model="username"
                    label="Username"
                    required
                    append-icon="mdi-email"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        @click="register"
                    >
                        Register
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data () {
        return {
            email : '',
            name : '',
            username: '',
            apiDomain : 'http://localhost:8000',
        }
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setUser : 'auth/setUser'
        }),
        close() {
            this.$emit('closed', false)
        },
        register() {
            const config = {
                method: "post",
                url: this.apiDomain+"/api/auth/register",
                data : {
                    'email' : this.email,
                    'name' : this.name,
                    'username' : this.username
                }
            };

            this.axios(config)
                .then((response) => {
                    console.log(response)
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Register Berhasil, Silahkan Cek Email anda untuk OTP'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status: true,
                        color: "error",
                        text: "Register Gagal"
                    })
                })
        }
    },
}
</script>