<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text"  v-if="!guest">
        Semua Biodata <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <biodata-item-component></biodata-item-component>
    </v-layout>
    
  </v-container>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import BiodataItemComponentVue from '../components/BiodataItemComponent.vue';
export default {
  data: () => ({
    apiDomain : 'http://localhost:8000',
    biodata: []
  }),

  components : {
    'biodata-item-component' : BiodataItemComponentVue
  },

  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
      'count' : 'counter/count'
    }),
  },

  methods : {
    go() {
      const config = {
        method : 'get',
        url : this.apiDomain + '/api/biodata'
      }
      this.axios(config)
        .then(response => {
          let { biodata } = response.data.data;
          this.biodata = biodata;
        })
        .catch(error => {
          console.log(error);
        })
    },
    // increment(payload) {
    //   this.$store.commit('increment', payload)
    // }

    ...mapMutations({
      'increment' : 'counter/increment'
    }),

      ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken'
    }),
  },

  created() {
    this.go()
  }
};
</script>
